<% provide :title, "Loại sản phẩm" %>
<% provide :button_text, "Sửa" %>
<%= render "admin/static_pages/layout" %>
  <content class="col-md-6 col-md-offset-1 content">
    <h2>Cập nhật loại sản phẩm</h2><br>
    <div class="row">
      <div class="col-md-12">
        <%= render "form" %>
      </div>
    </div>
  </content>
</div>
