<tr>
  <td align="center">
    <%= link_to edit_admin_author_path(author), class: "btn btn-default" do %>
      <em class="fa fa-pencil"></em>
    <% end %>
    <%= link_to admin_author_path(author), method: :delete, class: "btn btn-danger",
      data: {confirm: "Xác nhận xóa?"} do %>
      <em class="fa fa-trash"></em>
    <% end %>
  </td>
  <td><%= author.name %></td>
</tr>
