<%= form_for [:admin, current_user.imports.build] do |f| %>

  <%= f.hidden_field :book_id, value: @book.id %>

  <div class="form-group">
    <%= f.number_field :quantity, class: "form-control", placeholder: "Số lượng", min: 1 %>
  </div>

  <div class="form-group">
    <%= f.submit "Nhập hàng", class: "btn btn-primary" %>
  </div>
<% end %>
