<tr>
  <td align="center">
    <%= link_to admin_import_path(import), method: :delete, class: "btn btn-danger",
      data: {confirm: "Xác nhận xóa?"} do %>
      <em class="fa fa-trash"></em>
    <% end %>
  </td>
  <td><%= link_to import.book.name, admin_book_path(import.book) %></td>
  <td><%= import.quantity %></td>
  <td><%= import.created_at %></td>
</tr>
