<div class="row cmt">
  <div class= "col-md-12">
    <span class="name"><%= binhluan.user.ten %></span>
    <span><%= binhluan.noidung %></span>
  </div>
  <div class="col-md-3 date"><%= time_ago_in_words(binhluan.created_at) %></div>
  <div class="col-md-9 date">
    <% if logged_in? && comment_of_user?(binhluan) %>
      <%= link_to binhluan_path(binhluan), method: :delete,
        data: {confirm: "Bạn có chắc chắc muốn xóa?"} do %>
        Xóa
      <% end %>
    <% end %>
  </div>
</div>
