@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  margin: 0;
  font-size: 100%;
  font-family: 'Muli', sans-serif;
}

 body a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

 a:hover {
  text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"],input[type="password"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: 'Quicksand', sans-serif;
  border-radius:0px;
}

 h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Prata', serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

 p {
  margin: 0;
  font-size: 0.9em;
  color: #777777;
  line-height: 2em;
  letter-spacing: 1px;
  font-weight: 300;
}

 ul {
  margin: 0;
  padding: 0;
}

 label {
  margin: 0;
}

 /*--/header --*/
.bg-faded {
  border-bottom: 1px solid silver;
}

 ul.navbar-nav li {
  margin: 5px 20px;
  list-style: none;
  font-size: 15px;
}

 .navbar-light {
  color: #333;
}

 a.navbar-brand i{
  color: #dd4026;
}

 .navbar-light .navbar-nav .nav-link {
  color: #888;
}

 .cool {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

 .cool::after {
  content: '';
  display: block;
  width: 0;
  height:2px;
  background-image: linear-gradient(to right, #a83a95, #dc467f, #fa6866, #ff9552, #fbc34e);
  transition: width .3s;
}

 .cool:hover::after {
  width: 100%;
}
