#session{
  .login-block{
    background: #DE6262;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
    float: left;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    padding : 40px 0;
    font-family: apple-system;
  }
  .container{
    background: #fff;
    border-radius: 20px;
    width: 80%;
  }
  .row{
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    border-radius: 20px;
  }
  .login-sec{
    padding: 50px 0px;
    position: relative;
  }
  .login-sec .copy-text{
    position: absolute;
    width: 100%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
  }
  .login-sec .copy-text i{
    color: #FEB58A;
  }
  .login-sec .copy-text a{
    color: #E36262;
  }
  .login-sec h2{
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
  }
  .login-sec h2:after{
    content: " ";
    width: 100px;
    height: 5px;
    background: #FEB58A;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-login{
    background: #DE6262;
    color: #fff;
    font-weight: 600;
    margin-left: 190px;
  }
  .btn-signup{
    background: #DE6262;
    color: #fff;
    font-weight: 600;
    margin-left: 190px;
    padding: 7px 20px
  }
}
